.header {
    background-image: url('https://wallpapercave.com/wp/wp15300415.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.titulo {
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    text-transform: uppercase; /* Muchas fuentes pixel funcionan mejor en mayúsculas */
    color: #fff;
    text-shadow: 4px 4px 0px #ff0000; /* Sombra sólida para efecto retro */
}

.tex1 {
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 4px 0px #1100ff;
}

